// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.container {
    margin-top: 15px;
}

.header {
    margin-bottom: 30px;
}

.my_weather h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.search_form {
    min-width: 230px;
    width: 300px;
    border: solid 1px #ccc;
    padding: 5px 5px 5px 10px;
}

.card-body {
    padding: 0 15px;
}

.w_card {
    width: 11rem;
    float: left;
    padding: 25px 0 5px 0;
    margin: 0 8px 15px 0;
    height: 400px;
}

.temperature {
    font-size: 24pt;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
}

.low {
    float: left;
    color: #0053ae;
    font-size: 14pt;
}

.high {
    float: right;
    color: #d5202a;
    font-size: 14pt;
}

.wind_speed {
    position: relative;
    top: 6px;
    left: 10px;
    float: left;
}

.wind_img {
    width: 35px;
    margin-right: 25px;
}

.weather_table {
    margin: 0;
}

.wt_left {
    font-size: 9pt;
    min-width: 80px;
    width: 100px;
}

.wt_right {
    font-weight: bold;
    font-size: 9pt;
    white-space: nowrap;
}

.footer {
    font-size: 10pt;
}
